.hfcheaderchiclet {
    text-align:center;
    width:110px;
    height:33px;
    background-size:110px 33px;
    background-repeat:no-repeat;
    background-position:0px 1px;
    font-family:quadrata;
    font-size:14px;
}

.hfcnormalheader {
    background-image:url('../resources/hfc/header-normal.png');
}

.hfcheroicheader {
    background-image:url('../resources/hfc/header-heroic.png');
    color:white;
}

.hfcmythicheader {
    background-image:url('../resources/hfc/header-mythic.png');
    color:white;
}

.hfc-background {
    background-size:650px 180px;
    background-image:url(../resources/hfc/background.png);
}
