@font-face {
    font-family: quadrata;
    src: url('../static/FrizQuadrataStd.otf')
}

.group-header-name {
    font-family:quadrata;
    text-align:left;
    font-size:24px;
    padding-top:20px;
}

.group-header-ilvl {
    font-family:quadrata;
    text-align:right;
    font-size:18px;
    padding-top:20px;
}

.table-background {
    background-repeat:no-repeat;
    background-position:center;
    border-spacing:5px 5px;
    display:inline-block;
}

.table-header {
    text-align:center;
    color:white;
    font-family:quadrata;
    font-size:20px;
}

.ui-tooltip {
    background:#303030;
    color:white;
}

.bossdead {
    font-family:quadrata;
    font-size:14px;
    text-decoration: line-through;
    color:#A0A0A0
}

.bossalive{
    font-family:quadrata;
    font-size:14px;
}

.history-date {
    padding-top:20px;
    text-align:center;
    font-weight:bold;
    font-size:110%
}

.history-group-header {
    text-align:left;
    vertical-align:top;
    white-space:nowrap
}
