@font-face {
    font-family: quadrata;
    src: url('../static/FrizQuadrataStd.otf')
}

.ui-tooltip {
    background: #303030;
    color: white;
}

.bossalive, .bossdead {
    font-family: quadrata;
    font-size: 14px;
}

.bossdead {
    text-decoration: line-through;
    color: #A0A0A0
}

.history-date {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 110%
}

.history-group-header {
    text-align: left;
    vertical-align: top;
    white-space: nowrap
}






.group-frame {
    background-color: #DDD;
    width: 60%;
    margin-top: 7px;
    border-radius: 5px;
}

.group-name {
    font-family: quadrata;
    text-align: left;
    font-size: 24px;
    padding: 4px 0px 0px 4px;
}

.group-ilvl {
    font-family: quadrata;
    text-align: right;
    padding-right: 4px;
    width: 40%;
}

.raid-frame {
    background-color: #EEE;
}

.raid-name {
    font-family: quadrata;
    padding-left: 6px;
    padding-top: 5px;
}

.raid, .raid-inp, .raid-done {
    font-family: quadrata;
    text-align: center;
    padding-top: 5px;
}

.raid-inp {
    color: #ffa500;
}

.raid-done {
    color: #3cb731;
}
