.antorusheaderchiclet {
    text-align:center;
    width:110px;
    height:33px;
    background-size:110px 33px;
    background-repeat:no-repeat;
    background-position:0px 1px;
    font-family:quadrata;
    font-size:14px;
}

.antorusnormalheader {
    background-image:url('../static/antorus/header-normal.png');
}

.antorusheroicheader {
    background-image:url('../static/antorus/header-heroic.png');
    color:white;
}

.antorusmythicheader {
    background-image:url('../static/antorus/header-mythic.png');
    color:white;
}

.antorus-background {
    background-size:650px 180px;
    background-image:url(../static/antorus/background.png);
}
