<table class="table-background brf-background">
  <thead>
    <tr>
      <th colspan="11" class="table-header">Blackrock Foundry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="brfheaderchiclet brfmythicheader">Mythic {{ group.brf.mythic }}/10</td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 7 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 8 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 9 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-mythic.png"{% if group.brf.mythic < 10 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
    <tr>
      <td class="brfheaderchiclet brfheroicheader">Heroic {{ group.brf.heroic }}/10</td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 7 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 8 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 9 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-heroic.png"{% if group.brf.heroic < 10 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
    <tr>
      <td class="brfheaderchiclet brfnormalheader">Normal {{ group.brf.normal }}/10</td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 7 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 8 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 9 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/blackrock-chiclet-normal.png"{% if group.brf.normal < 10 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
  </tbody>
</table>
