<table class="table-background brf-background">
  <thead>
    <tr>
      <th colspan="11" class="table-header">Blackrock Foundry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="brfheaderchiclet brfmythicheader" id="{{ group.name | normalize }}-brf-mythic-header">Mythic {{ group.brf.mythic }}/10</td>
      {% for n in range(10) -%}
      <td><img src="../resources/blackrock-chiclet-mythic.png" height="32" width="33"{% if group.brf.mythic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="brfheaderchiclet brfheroicheader" id="{{ group.name | normalize }}-brf-heroic-header">Heroic {{ group.brf.heroic }}/10</td>
      {% for n in range(10) -%}
      <td><img src="../resources/blackrock-chiclet-heroic.png" height="32" width="33"{% if group.brf.heroic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="brfheaderchiclet brfnormalheader" id="{{ group.name | normalize }}-brf-normal-header">Normal {{ group.brf.normal }}/10</td>
      {% for n in range(10) -%}
      <td><img src="../resources/blackrock-chiclet-normal.png" height="32" width="33"{% if group.brf.normal < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
  </tbody>
</table>
