<table class="table-background en-background">
  <thead>
    <tr>
      <th colspan="8" class="table-header">Emerald Nightmare</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="enheaderchiclet enmythicheader" ttid="{{ group.name | normalize }}-en-mythic-header">Mythic {{ group.en.mythic }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/emerald-chiclet-mythic.png" height="32" width="33"{% if group.en.mythic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="enheaderchiclet enheroicheader" ttid="{{ group.name | normalize }}-en-heroic-header">Heroic {{ group.en.heroic }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/emerald-chiclet-heroic.png" height="32" width="33"{% if group.en.heroic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="enheaderchiclet ennormalheader" ttid="{{ group.name | normalize }}-en-normal-header">Normal {{ group.en.normal }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/emerald-chiclet-normal.png" height="32" width="33"{% if group.en.normal < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
  </tbody>
</table>
