{%- macro addentry(name, diff, diffchar, raidsize, kills, total) -%}
{%- if kills|length > 0 -%}
Killed
  {%- if kills|length == 1 -%}
  <b> {{ kills[0] }}</b>
  {%- else -%}
  <b> {{ kills|length }}</b> bosses
  {%- endif -%}
</b> in {{ diff }} {{ name }} and is now <b>{{ total }}/{{ raidsize }}{{ diffchar }}</b><br/>
{%- if kills|length > 1 -%}
<div style="margin-left:15px;font-weight:bold">
  {%- for k in kills %}
  {{ k }}</br>
{% endfor %}
</div>
{%- endif -%}
{%- endif -%}
{%- endmacro -%}
<tr>
  <td class="history-group-header">{{ history.date }}</td>
  <td style="padding-left:10px">
    {{- addentry('Hellfire Citadel', 'Mythic', 'M', num_nh_bosses, history.nh.mythic, history.nh.mythic_total) -}}
    {{- addentry('Hellfire Citadel', 'Heroic', 'H', num_nh_bosses, history.nh.heroic, history.nh.heroic_total) -}}
    {{- addentry('Hellfire Citadel', 'Normal', 'N', num_nh_bosses, history.nh.normal, history.nh.normal_total) -}}
    {{- addentry('Blackrock Foundry', 'Mythic', 'M', num_en_bosses, history.en.mythic, history.en.mythic_total) -}}
    {{- addentry('Blackrock Foundry', 'Heroic', 'H', num_en_bosses, history.en.heroic, history.en.heroic_total) -}}
    {{- addentry('Blackrock Foundry', 'Normal', 'N', num_en_bosses, history.en.normal, history.en.normal_total) -}}
  </td>
</tr>
