<!DOCTYPE html>
{% autoescape true -%}
<html>
  <head>
    <title>CTR Progress | {{ title }}</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/ctrranks.css"/>
    {% if tier %}<link rel="stylesheet" type="text/css" href="/static/tier{{ tier }}.css"/>{% endif %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
    <script src="/tooltips.js"></script>
  </head>
  <body style="background-color:#d3d3d3">
    <div align=center>
      <a href="/"><img src="/static/header.png" height="120" width="425"></a>
      <div style="font-size:14px;text-align:center">
        {% if last_updated is defined %}Last Updated: {{ last_updated.strftime('%F %I:%M:%S %p UTC') }}<br/>{% endif %}
        <a href="/howitworks.html">How It Works</a> | <a href="/history">History</a><br>
        BfA: <a href="/tier22">Uldir (T22)</a> | <a href="/tier23">BoD (T23)</a><br>
        Legion: <a href="/tier19">EN/ToV/NH (T19)</a> | <a href="/tier20">Tomb (T20)</a> | <a href="/tier21">Antorus (T21)</a><br>
        Warlords: <a href="/tier17">Highmaul/BRF (T17)</a> | <a href="/tier18">Hellfire Citadel (T18)</a>
      </div>
{% endautoescape -%}
