<!DOCTYPE html>
{% autoescape true -%}
<html>
  <head>
    <title>CTR Progress | {{ title }}</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/resources/ctrranks.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/tier21.css"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="/tooltips.js"></script>
  </head>
  <body style="background-color:#d3d3d3">
    <div align=center>
      <a href="/"><img src="/resources/header.png" height="120" width="425"></a>
      <div style="font-size:14px;text-align:center">
        Last Updated: {{ last_updated.strftime('%F %I:%M:%S %p UTC') }}<br/>
        <a href="/howitworks.html">How It Works</a> | <a href="/history">History</a> | <a href="/tier17.html">Tier 17</a> | <a href="/tier18.html">Tier 18</a> | <a href="/tier19.html">Tier 19</a> | <a href="/tier20.html">Tier 20</a>
      </div>
{% endautoescape -%}
