<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../resources/ctrranks.css"/>
  </head>
  <body>
<table class="table-background hm-background">
  <thead>
    <tr>
      <th colspan="8" class="table-header">Highmaul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hmheaderchiclet hmmythicheader">Mythic {{ group.hm.mythic }}/7</td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-mythic.png"{% if group.hm.mythic < 7 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
    <tr>
      <td class="hmheaderchiclet hmheroicheader">Heroic {{ group.hm.heroic }}/7</td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-heroic.png"{% if group.hm.heroic < 7 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
    <tr>
      <td class="hmheaderchiclet hmnormalheader">Normal {{ group.hm.normal }}/7</td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 1 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 2 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 3 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 4 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 5 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 6 %} style="opacity:0.25"{% endif %}/></td>
      <td><img src="../resources/highmaul-chiclet-normal.png"{% if group.hm.normal < 7 %} style="opacity:0.25"{% endif %}/></td>
    </tr>
  </tbody>
</table>
</body></html>
