<table class="table-background hm-background">
  <thead>
    <tr>
      <th colspan="8" class="table-header">Highmaul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hmheaderchiclet hmmythicheader" id="{{ group.name | normalize }}-hm-mythic-header">Mythic {{ group.hm.mythic }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/highmaul-chiclet-mythic.png" height="32" width="33"{% if group.hm.mythic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="hmheaderchiclet hmheroicheader" id="{{ group.name | normalize }}-hm-heroic-header">Heroic {{ group.hm.heroic }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/highmaul-chiclet-heroic.png" height="32" width="33"{% if group.hm.heroic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="hmheaderchiclet hmnormalheader" id="{{ group.name | normalize }}-hm-normal-header">Normal {{ group.hm.normal }}/7</td>
      {% for n in range(7) -%}
      <td><img src="../resources/highmaul-chiclet-normal.png" height="32" width="33"{% if group.hm.normal < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
  </tbody>
</table>
