{%- macro addentry(name, diff, diffchar, raidsize, kills, total) -%}
{%- if kills|length > 0 -%}
Killed
  {%- if kills|length == 1 -%}
  <b> {{ kills[0] }}</b>
  {%- else -%}
  <b> {{ kills|length }}</b> bosses
  {%- endif -%}
</b> in {{ diff }} {{ name }} and is now <b>{{ total }}/{{ raidsize }}{{ diffchar }}</b><br/>
{%- if kills|length > 1 -%}
<div style="margin-left:15px;font-weight:bold">
  {%- for k in kills %}
  {{ k }}</br>
{% endfor %}
</div>
{%- endif -%}
{%- endif -%}
{%- endmacro -%}
<tr>
  <td class="history-group-header">{{ history.group }}</td>
  <td style="padding-left:10px">
    {{- addentry('Antorus, The Burning Throne', 'Mythic', 'M', num_antorus_bosses, history.antorus.mythic, history.antorus.mythic_total) -}}
    {{- addentry('Antorus, The Burning Throne', 'Heroic', 'H', num_antorus_bosses, history.antorus.heroic, history.antorus.heroic_total) -}}
    {{- addentry('Antorus, The Burning Throne', 'Normal', 'N', num_antorus_bosses, history.antorus.normal, history.antorus.normal_total) -}}
  </td>
</tr>
