{% autoescape true -%}
<tr>
  <td style="text-align:left;vertical-align:top">{{ history.group }}</td>
  <td style="padding-left:10px">
{% if history.brf_mythic > 0 -%}
Killed {{ history.brf_mythic }} new boss{% if history.brf_mythic > 1 %}es{% endif %} in Mythic Blackrock Foundry and is now {{ history.brf_mythic_total }}/{{ num_brf_bosses }}M<br/>
{% endif -%}
{% if history.brf_heroic > 0 -%}
Killed {{ history.brf_heroic }} new boss{% if history.brf_heroic > 1 %}es{% endif %} in Heroic Blackrock Foundry and is now {{ history.brf_heroic_total }}/{{ num_brf_bosses }}H<br/>
{% endif -%}
{% if history.brf_normal > 0 -%}
Killed {{ history.brf_normal }} new boss{% if history.brf_normal > 1 %}es{% endif %} in Normal Blackrock Foundry and is now {{ history.brf_normal_total }}/{{ num_brf_bosses }}N<br/>
{% endif -%}
{% if history.hm_mythic > 0 -%}
Killed {{ history.hm_mythic }} new boss{% if history.hm_mythic > 1 %}es{% endif %} in Mythic Highmaul and is now {{ group.hm_mythic_total }}/{{ num_hm_bosses }}M<br/>
{% endif -%}
{% if history.hm_heroic > 0 -%}
Killed {{ history.hm_heroic }} new boss{% if history.hm_heroic > 1 %}es{% endif %} in Heroic Highmaul and is now {{ group.hm_heroic_total }}/{{ num_hm_bosses }}H<br/>
{% endif -%}
{% if history.hm_normal > 0 -%}
Killed {{ history.hm_normal }} new boss{% if history.hm_normal > 1 %}es{% endif %} in Normal Highmaul and is now {{ group.hm_normal_total }}/{{ num_hm_bosses }}N<br/>
{% endif -%}
  </td>
</tr>
{% endautoescape -%}
