<table class="table-background uldir-background">
  <thead>
    <tr>
      <th colspan="16" class="table-header">Uldir</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="uldirheaderchiclet uldirmythicheader" ttid="{{ group.name | normalize }}-uldir-mythic-header">Mythic {{ group.uldir.mythic }}/8</td>
      {% for n in range(8) -%}
      <td><img src="../resources/uldir/chiclet-mythic.png" height="32" width="33"{% if group.uldir.mythic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="uldirheaderchiclet uldirheroicheader" ttid="{{ group.name | normalize }}-uldir-heroic-header">Heroic {{ group.uldir.heroic }}/8</td>
      {% for n in range(8) -%}
      <td><img src="../resources/uldir/chiclet-heroic.png" height="32" width="33"{% if group.uldir.heroic < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
    <tr>
      <td class="uldirheaderchiclet uldirnormalheader" ttid="{{ group.name | normalize }}-uldir-normal-header">Normal {{ group.uldir.normal }}/8</td>
      {% for n in range(8) -%}
      <td><img src="../resources/uldir/chiclet-normal.png" height="32" width="33"{% if group.uldir.normal < n+1 %} style="opacity:0.25"{% endif %}/></td>
      {% endfor -%}
    </tr>
  </tbody>
</table>
